.container {
    width: 100%;
    height: 46px;
    background-color: var(--black);
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    margin-left: 4rem;
    gap: 6px;
    align-items: center;
}

.logo .esquerda {
    color: var(--white);
}

.logo .direita {
    color: var(--white);
    background-color: var(--primary);
    padding: 4px;
    font-weight: 700;
    border-radius: 4px;
    text-transform: uppercase;
}

.containerLinks {
    list-style: none;
    display: flex;
    gap: 8px;
    font-size: 12px;
    margin-left: 3rem;
}

.containerLinks li {
    text-transform: uppercase;
    color: var(--white);
}